{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-5">
            <table class="table table-bordered">

                      <tbody>

                        <tr>
                          <td>ID :{{ client.id }}</td>
                        </tr>
                      <tr>
                          <td>ФИО :{{ client.name }} </td>
                        </tr>
                      <tr>
                          <td>
                              ОРГАНИЗАЦИЯ :{{ client.firm }}
                          </td>
                      </tr>
                        <tr>
                          <td>
                              ТЕЛЕФОН :{{ client.phone }}
                          </td>
                      </tr>

                        <tr>
                          <td>
                               ЭЛ. ПОЧТА :{{ client.email }}
                          </td>
                      </tr>

                        <tr>
                          <td>
                               АДРЕС ОРГАНИЗАЦИИ :{{ client.firm_address}}
                          </td>
                      </tr>

                        <tr>
                          <td>
                               ДОМАШНИЙ АДРЕС :{{ client.personal_address }}
                          </td>
                      </tr>

                       <tr>
                          <td>
                              КОММЕНТАРИЙ:<br> {{ order.comment}}                          </td>
                      </tr>







                      </tbody>
                    </table>
        </div>
         <div class="col-7">
            {% for order in client.order_set.all %}
 <table class="table table-bordered">

                      <tbody>

                        <tr class="info">
                          <td colspan="2" >ЗАКАЗ  {{ order.id }}</td>

                        </tr>
                      <tr>
                          <td style="width: 80%">{{ order.total_price }}</td>

                        </tr>

                      </tbody>
                    </table>
                
             {% endfor %}
        </div>
    </div>


    </div>
{% endblock %}












