{% extends 'basic.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="btn-group btn-group-raised">
                    <a href="#" class="btn btn-primary"><i class="zmdi zmdi-plus-circle"></i></a>
                    <a href="#" class="btn btn-primary"><i class="zmdi zmdi-wifi"></i></a>
                    <a href="#" class="btn btn-primary"><i class="zmdi zmdi-search"></i></a>

                </div>
            </div>
            <div class="col-7 offset-3">

                    <form class="form-inline">
                         <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                <span class="circle"></span><span class="check"></span> Фильтр 1 </label>
                          </div>
                         <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                <span class="circle"></span><span class="check"></span> Фильтр 2 </label>
                          </div>
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                <span class="circle"></span><span class="check"></span> Фильтр 4 </label>
                          </div>
                          <div class="radio radio-primary">
                            <label>
                              <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                                <span class="circle"></span><span class="check"></span> Фильтр 5 </label>
                          </div>
                        <button style="margin-left: 17px;" type="submit" class="btn btn-raised btn-primary">ПРИМЕНИТЬ<div class="ripple-container"></div></button>
                    </form>



             </div>


        </div>



        <table class="table table-no-border table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Продукция</th>
                <th>Количество</th>
                <th>Стоимость</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>
            <tr>
                <td>1</td>
                <td>Визитка 1</td>
                <td>100</td>
                <td>3000</td>

            </tr>

            </tbody>
        </table>



    </div>
{% endblock %}












